 /*
 https://coolors.co/c97d60-544f50-cd5334-ffbcb5-f2e5d7
*/

 @page {
   size: A4;
 }

 html {
   background: #ddd;
 }

body {
   width: 21cm;
   height: 29.7cm;
   margin: 0 auto;
   box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

html, body,
main p {
  margin: 0;
}

 a {
   color: #cd5334;
 }

body {
   font: 14px "Open Sans";
   background: #f4e9de;
   display: flex;
 }

 @font-face {
   font-family: 'Bukhari Script';
   src: url('font/BukhariScript-Regular.otf');
   font-weight: normal;
   font-style: normal;
 }

 h1, h2 {
   font-family: "Bukhari Script";
   font-weight: normal;
 }

 h3 {
   color: #cd5334;
   font-weight: normal;
   margin: 0;
   font-size: 16px;
 }

 .sidebar {
   background: #2e282a;
   color: #cd5334;
   padding: 20px 20px 20px 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 216px;
   font-size: 14px;
 }

 .sidebar h1 {
   font-size: 52px;
   text-align: center;
   margin-bottom: 75px;
   font-feature-settings: "ss02";
 }

 .sidebar address {
   font-style: normal;
   margin-bottom: 50px;
 }

 .sidebar address a, .sidebar p {
   padding-left: 40px;
   position: relative;
 }

 .sidebar address a {
   display: block;
   text-decoration: none;
 }

 .sidebar address a i {
   transform: translateY(25%);
 }

 .sidebar address a i, .sidebar p i {
   position: absolute;
   left: 10px;
 }

 .sidebar .details {
   display: block;
   font-size: 12px;
 }

 .sidebar p {
   color: #544f50;
   text-align: justify;
 }

 .sidebar p i {
   top: 50%;
   transform: translateY(-50%);
   color: #cd5334;
 }

 .sidebar strong {
   color: #cd5334;
   font-weight: normal;
 }

 .sidebar .interests {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
 }

 .sidebar .interests li {
   display: inline-block;
   text-align: center;
   margin: 20px;
   width: 60px;
   color: #544f50;
 }

 .sidebar .interests li:before {
   display: block;
   color: #cd5334;
 }

 main {
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 main .details {
   font-size: 10px;
 }
