 /*
 https://coolors.co/c97d60-544f50-cd5334-ffbcb5-f2e5d7
 https://coolors.co/ac7c69-544f50-cd5334-2e282a-f4e9de
*/

/* page size */
/*
html {
   background: #ddd;
 }

body {
   width: 21cm;
   height: 29.7cm;
   margin: 0 auto;
   box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
*/

/* page size end */

@font-face {
   font-family: 'Bukhari Script';
   src: url('font/BukhariScript-Regular.otf');
   font-weight: normal;
   font-style: normal;
 }


@page {
   size: A4;
 }

html, body {
  height: 100%;
}

html, body,
main p {
  margin: 0;
}

 a {
   color: #cd5334;
 }

body {
   font: 14px "Open Sans", sans-serif;
   background: #f4e9de;
   display: flex;
 }

 h1, h2 {
   font-family: "Bukhari Script";
   font-weight: normal;
 }

 h2 {
   color: #cd5334;
   text-align: center;
   border-bottom: 1px solid #cd5334;
   font-size: 30px;
   margin-bottom: 10px;
   margin-top: 0;
}

h3 {
   font-weight: bold;
   margin: 0;
   font-size: 14px;
}
h3 a {
  color: inherit;
}

 .sidebar {
   background: #2e282a;
   color: #cd5334;
   padding: 20px 20px 20px 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 216px;
   font-size: 14px;
 }

 .sidebar h1 {
   font-size: 52px;
   text-align: center;
   margin-bottom: 75px;
   font-feature-settings: "ss02";
 }

 .sidebar address {
   font-style: normal;
   margin-bottom: 50px;
 }

 .sidebar address a, .sidebar p {
   padding-left: 40px;
   position: relative;
 }

 .sidebar address a {
   display: block;
   text-decoration: none;
 }

 .sidebar address a i {
   transform: translateY(25%);
 }

 .sidebar address a i, .sidebar p i {
   position: absolute;
   left: 10px;
 }

 .sidebar .details {
   display: block;
   font-size: 12px;
 }

 .sidebar p {
   color: #AC7C69;
   text-align: justify;
 }

 .sidebar p i {
   top: 50%;
   transform: translateY(-50%);
   color: #cd5334;
 }

 .sidebar strong {
   color: #cd5334;
   font-weight: normal;
 }

 .sidebar .interests {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   width: 100%;
   margin: 30px 0 0 15px;
 }

 .sidebar .interests li {
   display: inline-block;
   text-align: center;
   margin: 15px;
   width: 60px;
   color: #AC7C69;
 }

 .sidebar .interests i {
   display: block;
   color: #cd5334;
   font-size: 20px;
   text-align: center;
   width: 100%;
 }

 main {
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 main .details {
   font-size: 10px;
 }

section > header {
  display: grid;
  grid-template-rows: auto 1fr;
  grid:
    "title year"
    "extra extra" / auto 1fr;
  margin-top: 10px;
}

section > header h3 {
  grid-area: title;
}

section > header ul {
  grid-area: extra;
  margin: 0;
  padding-left: 20px;
}

.year {
  color: #544f50;
  grid-area: year;
  text-align: right;
}

section section {
  margin: 15px 10px;
}

ul {
  margin: 0;
}


